body {
    display: flex;
    /* background-color: #ebebeb;
    background-image: url(images/2.jpg);
    background-size: 200vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px); */
    margin: 0;
    flex-direction: column;
    /* gap: 200px; */
    background-color: #161616;
}

.info {
    background-image: url(images/2.jpg);
    background-size: 200vh;
    height: 100%;
    display: flex;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #F5F5F5;
    border: 3px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-track:active {
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #282828;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #161616;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #161616;
}


.section {
    height: 800px;
    width: 100vw;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}

.dpdiv {
    height: 300px;
    width: 300px;
    margin-top: 65px;
    background-color: #333;
    display: flex;
    justify-content: center;
    clip-path: circle(50% at 50% 50%);
}

.dp {
    height: 380px;
    transition: all 0.4s;
}

.dp:hover {
    scale: 1.06;
}

.detailsdiv {
    height: 280px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff41;
    border: 1px solid;
    border-color: #fff;
    border-radius: 20px;
    backdrop-filter: blur(35px);
    transition: all 0.4s;
}

.detailsdiv:hover {
    scale: 1.03;
    border-color: #ffffff81;
    background-color: #e8e8e8c5;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.41);
}

p1 {
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 20px;
    color: #161616;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p2 {
    font-size: 20px;
    margin-left: 22px;
    margin-top: -20px;
    font-weight: 500;
    color: #161616;
    align-self: self-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p3 {
    font-size: 20px;
    padding: 15px;
    margin-left: 7px;
    margin-top: 15px;
    font-weight: 500;
    color: #161616;
    align-self: self-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p4 {
    font-size: 20px;
    padding-top: 15px;
    width: 380px;
    font-weight: 400;
    color: #161616;
    align-self: center;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linksdiv {
    height: 30px;
    width: 570px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff43;
    border: 1px solid;
    border-color: #fff;
    border-radius: 20px;
    backdrop-filter: blur(35px);
    transition: all 0.4s;
}

.linksdiv:hover {
    scale: 1.03;
    border-color: #ffffff81;
    background-color: #e8e8e8c5;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.41);
}

a {
    transition: all 0.4s;
}

a:hover {
    scale: 1.1;
}

.controls {
    height: 100%;
    /* width: 100%; */
    background-image: url(images/1.jpg);
    /* background-repeat: no-repeat; */
    background-size: 200vh;
    background-color: #333;
    /* filter: blur(5px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    height: 100%;
    padding: 55px;
    width: 200vh;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.controlsdiv {
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff41;
    border: 1px solid;
    border-color: #fff;
    border-radius: 20px;
    transition: all 0.4s;
}

.controlsdiv:hover {
    scale: 1.03;
    border-color: #ffffff81;
    background-color: #e8e8e8c5;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.41);
}
